body {
	font-family: sans-serif;
}
body * {
	box-sizing: border-box;
}
ul li {
	margin-bottom: 10px;
}
.starting-bar,
.contribution-bar,
.return-bar,
.final-bar {
	height: 10px;
}
.starting-bar {
	background-color: blue;
}
.contribution-bar {
	background-color: gold;
}
.return-bar {
	background-color: yellowgreen;
}
.final-bar {
	background-color: green;
}
