/* General */
body {
	font-family: Roboto, sans-serif;
	background-color: #ededed;
	color: #333;
}
body * {
	box-sizing: border-box;
}
ul li {
	margin-bottom: 10px;
}
main {
	margin: 60px 80px;
}
h1,
h2,
strong {
	font-weight: normal;
}
input {
	font-family: inherit;
}

/* Forms */
.inputs {
	float: left;
	width: 50%;
}
.input-list {
	list-style: none;
	padding-left: 0;
	margin-bottom: 50px;
}
.input-group {
	margin-bottom: 30px;
}
.input-label,
.input-subtext,
.calculator-input {
	display: block;
}
.input-label {
	margin-bottom: 5px;
}
.input-subtext {
	margin-bottom: 15px;
	color: #888;
}
.calculator-input {
	height: 45px;
	width: 300px;
	padding: 10px 20px;
	border-radius: 4px;
	border: none;
	font-size: 20px;
}
.submit-button {
	height: 45px;
	width: 300px;
	border-radius: 6px;
	background-color: #5d9cec;
	font-size: 20px;
	color: #fff;
}

/* Results */
.results {
	float: right;
	width: 50%;
}
.result-bar-chart {
	display: flex;
	margin-bottom: 40px;
	box-shadow: 0 2px 5px #ccc;
}
.result-bar {
	transition: width 0.8s ease;
}
.result-data-group {
	position: relative;
	margin-bottom: 30px;
	padding-left: 50px;
}
.result-data-group.result-total {
	padding-left: 0;
}
.result-label,
.final-val {
	display: block;
}
.result-legend {
	position: absolute;
	top: 25px;
	left: 0;
	display: block;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background-color: #ddd;
}
.result-label {
	margin-bottom: 10px;
	font-size: 13px;
}
.result-val {
	font-size: 24px;
}
.result-total .result-label {
	font-size: 16px;
}
.result-total .result-val {
	font-size: 40px;
}
.starting-bar,
.contribution-bar,
.return-bar,
.final-bar {
	height: 60px;
}
.result-starting .result-legend,
.starting-bar {
	background-color: #354458;
}
.result-contribution .result-legend,
.contribution-bar {
	background-color: #ffbd52;
}
.result-return .result-legend,
.return-bar {
	background-color: #8cc152;
}
.final-bar {
	background-color: green;
}
